.info{
    background-color: rgb(19, 19, 19);
    color:grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    padding:5rem;


    &_hours{
        font-size:1.5rem;

        td{
            padding-left: 1.25rem;
        }
    }

    &_location{
        margin-left: 5rem;

        p{
            font-size:1.5rem;
            line-height:25px;
        }
    }
}