.header{
    height:800px;
    // background:linear-gradient(rgba(2, 103, 255, 0.65),rgba(23, 190, 241, 0.5)),url(../images/dumbbell-equipment.jpg);
    // background:linear-gradient(rgba(158, 158, 158, 0.65),rgba(92, 92, 92, 0.75)),url(../images/dumbbell-equipment.jpg);
    // background:linear-gradient(rgba(236, 242, 252, 0.65),rgba(23, 15, 56, 0.75)),url(../images/dumbbell-equipment.jpg);
    // background:linear-gradient(to top, rgba(220, 255, 23, 0.65),rgba(238, 196, 58, 0.75)),url(../images/dumbbell-equipment.jpg);
    background:linear-gradient(to top, #cc2937b9,rgba(255, 123, 61, 0.8)) ,url(../images/dumbbell-equipment.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &_text{
        position: absolute;
        top:25%;
        // left:15%;
        left:7%;
        font-size: 4.5rem;
        text-transform: uppercase;
        color:rgba(0, 0, 0, 0.8);
        cursor: default;
        // color:rgba(255, 255, 255, 0.75);
    }
    
    &_span{
        position: absolute;
        top:65%;
        left:-1%;
        font-size: 12.5rem;
        cursor: default;
        // color:rgba(255, 255, 0, 0.6);
        // color:#cc2937c7;
        color:rgba(255, 255, 255, 0.7);
    }

    &_video{
        position: absolute;
        top:26%;
        // right:15%;
        right:5%;
    }

    &_button{
        position: absolute;
        top:225%;
        left:28%;
        height:auto;
        z-index:2000;
        
        & .btn-head{
            background-color: rgb(49, 49, 49);
            color:#fff;

            &:hover{
                background-color: rgba(49, 49, 49, 0.7);
                color:rgb(216, 216, 216);
            }
        }
    }   

    &_fade-text{
        color:rgba(255, 255, 255, 0.025);
        cursor:default;

        & h1{
            margin:0;
            padding:0;
            font-size:22rem;
        }
        &--one{
            position: absolute;
            top:-2%;
            right:-5%;
        }
        &--two{
            position:absolute;
            bottom:3%;
            left:3%;
        }
    }  
}  