.button{
    font-size: 2.5rem;
    font-family: 'Poppins','sans-serif';
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding:.5rem 2rem;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    transition: all .4s ease;
}